<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>
    <meta charset="UTF-8">
    <title>Unos naloga</title>
    
</head>
<center>
<body>
    <form action="{{ url_for('add') }}" method="POST">

<h1>
<ul><label>Radni nalog službe mašinske dijagnostike </label></ul>
</h1>
       
<ul><label>Broj naloga</label></ul>
<input name="order_number"  type="text" value={{ordernumber[0][0]}} readonly>

<ul><label for="grupa">Radna grupa</label> </ul>
<select name="grupa" id="grupa"> 
<option value="blanko"></option> 
<option value="Vibrodijagnostika">Vibrodijagnostika</option> 
<option value="Lasersko centriranje">Lasersko centriranje</option> 
<option value="Ultrazvuk">Ultrazvuk</option> 
<option value="blanko"></option> 
</select>

<ul><label for="sort">Vrsta posla</label> </ul>
<select name="sort" id="sort"> 
<option value="blanko4"></option> 
<option value="Snimanje vibracija">Snimanje vibracija</option> 
<option value="Merenje i analiza vibracija">Merenje i analiza vibracija</option> 
<option value="Terensko balansiranje">Terensko balansiranje</option> 
<option value="Lasersko centriranje">Lasersko centriranje</option> 
<option value="Kontrola saosnosti">Kontrola saosnosti</option> 
<option value="Ultrazvucna defektoskopija">Ultrazvucna defektoskopija</option> 
<option value="Termovizijsko snjimanje">Termovizijsko snjimanje</option>
<option value="Endoskopsko snimanje">Termovizijsko snjimanje</option>        
</select>       

<ul><label for="tip">Periodicnost posla</label> </ul>
<select name="tip" id="tip"> 
<option value="blanko5"></option> 
<option value="Predremontno merenje vibracija">Predremontno merenje vibracija</option> 
<option value="Posleremontno merenje vibracija">Posleremontno merenje vibracija</option> 
<option value="Interventno merenje vibracija">Interventno merenje vibracija</option> 
<option value="Kontrolno merenje vibracija">Kontrolno merenje vibracija</option> 
<option value="Lasersko centriranje pogona">Lasersko centriranje pogona</option> 
<option value="Kontrola saosnosti pogona">Kontrola saosnosti pogona</option> 
<option value="Kontrola saosnosti pogona">Termovizijko snimanje</option> 
<option value="Kontrola saosnosti pogona">Endoskopsko snimanje</option> 
<option value="Ultrazvucna kontrola">Ultrazvucna kontrola</option> 

</select>

<ul><label for="sistem">Sistem</label></ul>
<select name="sistem" id="sistem"> 
<option value="blanko1"></option> 
<option value="BTD">BTD</option> 
<option value="I BTO">I BTO</option> 
<option value="II BTO">II BTO</option> 
<option value="II BTO">III BTO</option> 
<option value="IV BTO">IV BTO</option> 
<option value="IV BTO">V BTO</option> 
<option value="VI BTO">VI BTO</option> 
<option value="Drobilana">Drobilana</option> 
<option value="Odvodnjavanje">Odvodnjavanje</option> 
<option value="Elektrana">Elektrana</option> 
<option value="Radionica">Radionica</option> 
<option value="Ostalo">Ostalo</option> 
</select>
<ul><label for="objekat">Objekat</label></ul>
<select name="objekat" id="objekat"> 
<option value="blanko2"></option> 
<option value="Bager">Bager</option> 
<option value="SRs-400x14-1 (bager 14)">SRs-400x14-1 (bager 14)</option> 
<option value="SRs-470x20-3 (bager 13)">SRs-470x20-3 (bager 13)</option> 
<option value="Srs- 470">Srs- 470</option>
<option value="SchRS-800">SchRS-800</option> 
<option value="Ers- 710">Ers- 710</option> 
<option value="SRs-470x20-3 (bager 13)">SRs-470x20-3 (bager 13)</option> 
<option value="SRs-470x20-3 (bager 13)">SRs-470x20-3 (bager 13)</option> 
<option value="Srs-1300">Srs-1300</option> 
<option value="SRs-2000x28-3 (bager 1)">SRs-2000x28-3 (bager 1)</option> 
<option value="SRs-2000x32-5 (bager 2)">SRs-2000x32-5 (bager 2)</option>
<option value="Srs-2000 (bager 3)">Srs-2000 (bager 3)</option> 
<option value="Srs-2000 (bager 5)">Srs-2000 (bager 5)</option>


<option value="Odlagač">Odlagač</option> 
<option value="ArsB- 3500">ArsB- 3500</option> 
<option value="A2RsB-7200">A2RsB-7200</option> 
<option value="A2RsB-7200 II">A2RsB-7200 II</option> 
<option value="A2RsB-5500">A2RsB-5500</option> 
<option value="A2RsB-">A2RsB-</option> 


<option value="PKM">PKM</option> 
<option value="BRs-2400 (banvagen 2)">BRs-2400 (banvagen 2)</option> 
<option value="BRs-2400 (banvagen 3)">BRs-2400 (banvagen 3)</option> 
<option value="BRs-2400 (banvagen 6)">BRs-2400 (banvagen 6)</option> 

<option value="Pogonska stanica">Pogonska stanica</option> 

<option value="Crpna stanica">Crpna stanica</option> 
<option value="ostalo">ostalo</option> 
</select>



<ul><label for="location">Lokacija pogona</label></ul>
<select name="location" id="location">
<option value="blanko3"></option>  
<option value="Traka 1">Traka 1</option> 
<option value="Traka 2">Traka 2</option> 
<option value="Traka 3">Traka 3</option> 
<option value="Traka 4">Traka 4</option> 
<option value="RRT">RRT</option> 
<option value="RRT gornji">RRT gornji</option> 
<option value="RRT donji">RRT donji</option> 
<option value="Odbojni bubnjevi">Odbojni bubnjevi</option> 
<option value="Pogon okreta">Pogon okreta</option> 
<option value="Pogon transporta">Pogon transporta</option> 
<option value="SVI">SVI</option> 
<option value="/">/</option> 
</select>



<ul><label for="position">Pozicija pogona</label></ul>
<select name="position" id="position">
<option value="blanko3"></option>  
<option value="Levi">Levi</option> 
<option value="Desni">Desni</option> 
<option value="Gornji">Gornji</option> 
<option value="Donji">Donji</option> 
<option value="Levi gornji">Levi gornji</option> 
<option value="Desni gornji">Desni gornji</option> 
<option value="Levi donji">Levi donji</option> 
<option value="Desni donji">Desni donji</option> 
<option value="SVI">SVI</option> 
<option value="/">/</option> 
</select>

<ul><label for="machine">Mašina</label></ul>
<select name="machine" id="machine">
<option value="blanko3"></option>  
<option value="Reduktor i elektromotor">Reduktor i elektromotor</option> 
<option value="Reduktor">Reduktor</option> 
<option value="A1-315.KW.P-320.KW.I15,6">A1-315.KW.P-320.KW.I15,6</option> 
<option value="BKFZ-280">BKFZ-280</option> 
<option value="SKFY – 400">SKFY – 400</option> 
<option value="TGL 18049/40LAO-1455x10P">TGL 18049/40LAO-1455x10P</option> 
<option value="BKH 250">BKH 250</option> 
<option value="A1-630.I-14.  P-630 KW">A1-630.I-14.  P-630 KW</option> 
<option value="Reduktor">KA-193-14</option> 
<option value="TGL37088-CKHZ-560.  I-14. P-900 KW">TGL37088-CKHZ-560.  I-14. P-900 KW</option> 
<option value="BKHX-320">BKHX-320</option> 
<option value="BKHX-450">BKHX-450</option> 
<option value="A10 LAI-280/250x16 GR">A10 LAI-280/250x16 GR </option> 
<option value="BK 225">BK 225</option> 
<option value="RRT">RRT</option> 
<option value="Elektromotor">Elektromotor</option> 
<option value="Pumpa">Pumpa</option> 
<option value="Ventilator">Ventilator</option> 
</select>


<ul><label for="orderer">Nalog izdao</label> </ul>
<select name="orderer" id="orderer"> 
<option value="blanko6"></option> 
<option value="Blaža Ilić">Blaza Ilic</option> 
</select>


<ul><label for="coment">Komentar naloga</label> </ul>
<input name="coment"  type="text" >





<ul><label>Datum</label></ul>
<input name="datum" type="date" />

<ul><label for="reliser">Nalog primio</label> </ul>
<select name="reliser" id="reliser"> 
<option value="blanko7"></option> 
<option value="Aleksandar Radulović">Aleksandar Radulovic</option> 
<option value="Radica Žukovsk">Radica Zukovski</option> 
<option value="Miljan Petrović">Miljan Petrovic</option> 
<option value="Darko Aleksić">Darko Aleksić</option> 
<option value="Ljubomir Kevro">Ljubomir Kevro</option> 
</select> 

<ul><button type="submit">Kreiraj nalog</button></ul>


</form>

<br></br>

<button type="button" onclick="window.location.href='{{ url_for('show_permanent')}}';">Baza radnih naloga</button>
<button type="button" onclick="window.location.href='{{ url_for('home')}}';">Naslovna</button>
<button type="button" onclick="window.location.href='{{ url_for('home1')}}';">Opšta</button>
<button type="button" onclick="window.location.href='{{ url_for('orders_and_reports')}}';">Početna</button>


</body>
</center>
</html>