<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <title>Centrisanje</title>
    
  </head>
  <center>
  <body>
	<h1>Lasersko centriranje</h1>
	<h2>
	Usled visokih tehnoloških zahteva, vratila današnjih rotirajućih mašina se vrte na 
znatno višim brojevima obrtaja i pod znatno većim opterećenjima nego šte je to bio 
slučaj pre nekoliko godina. Sa druge strane, postavljaju se zahtevi za smanjenjem 
masa rotora i ukupnih stepeni sigurnosti. Ovakav trend čini rotirajuće mašine znatno 
“ranjivijim” prema posledicama koje donosi nesaosnost kao jedan od najčešćih 
otkaza rotirajuće mašine. Kvalitetno izvedeno poravnanje vratila međusobno 
povezanih rotirajućih mašina je jedan od najvažnijih aspekata pri instalaciji rotirajuće 
mašine. Suprotno vrlo zastupljenom mišljenju, primena elastične spojnice neće uvek 
kompenzovati nesaosnost dva povezana rotora.</h2>
    <h2>Smatra se da više od 50% prevremenih otkaza mašine nastaje kao posledica 
nesaosno „uparenih“ vratila između pogonskog i gonjenog dela mašine.Prisutnosti i 
ozbiljnosti problema nesaosnosti čak i u modernim industrijskim postrojenjima se 
često ne pridaje dovoljno značaja. Razlog tome leži, između ostalog, i u 
nepoznavanju kvantitativnih pokazatelja posledica nesaosnosti.</h2>
   <h2> Smanjenje za nekoliko stotina delova mm (što se bez ikakvih problema rešava laserskim sistemima poravnanja) energijski 
gubici se smanje na 0.5% (a još više u slučaju elastičnih spojnica).
</h2>
<h1></h1>
<h3>Standardi</h3>
<h3>Izveštaji laserskog centriranja</h3>

  </body>
  </center>
</html>
