<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Endo</title>
  </head>
  <center>
  <body>
	<h1>Endoskopija</h1>
	<h2>
	U zatvorenim, slabo ili neosvjetljenim te uskim i tjesnim prostorima moguće je 
pouzdano otkirvanje: prodora tekućine, deformacija, korozije, erozije, pukotina, ureza, 
tragova gorenja, naslaga i sl i sve to uz pomoć odgovarajuće endoskopske opreme. Sama 
endoskopska dijagnostika prvensteveno se koristi u sustavima odnosno u dijelovima tog 
sustava koji su nepristupačni, mračni i uski. 
Zadatak ove, kao i svake metode tehničke dijagnostike je da se utvrdi stvarno stanje 
tehničkog sustava te se na temelju toga donose odluke o konačnim postupcima i aktivnostima 
u svrhu daljnjeg održavanja sustava. Ovim postupkom se sa predodređenog prelazi na 
održavanje utemeljeno na stanju. Povećanje pouzdanosti i efikasnosti sustava temeljne su 
12 
prednosti održavanja koje je utemeljeno na stanju, a uz to imamo i smanjenje troškova 
održavanja, što za sobom povlači smanjenje troškova životnog ciklusa tehničkog sustava. 
Tri, 
jednako važna faktora koja vode ka uspješnom obavljanju endoskopske 
dijagnostike su: oprema, ljudi  (tj stručno osposobljeno osoblje) i  metodologija.  
	</h2>
	<h3>Standardi</h3>
	<h3>Tipični endoskopski snimci</h3>
	
	<h3>Izvestaji o endoskopskom ispitivanju</h3>
</center>
  </body>
</html>