<!DOCTYPE html>
<html>

<head>
<h3>Radni nalog</h3>

    
<ul><label>Broj naloga</label></ul>
<input name="order_number" type="text" value={{ordernumber[0][0]}}>




<ul><label for="grupa">Radna grupa</label> </ul>
<input name="grupa" type="text" value={{grupa[0][0]}}>


<ul><label for="sistem">Sistem</label></ul>
<input name="sistem" type="text" value={{sistem[0][0]}}>

<ul><label for="objekat">Objekat</label></ul>
<input name="objekat" type="text" value={{objekat[0][0]}}>

<ul><label for="machine">Mašina</label></ul>
<input name="machine" type="text" value={{machine[0][0]}}>

<ul><label for="sort">Tip posla</label> </ul>
  <input name="sort" type="text" value={{sort[0][0]}}>  
   
<ul><label for="tip">Vrsta posla</label> </ul>
<input name="tip" type="text" value={{tip[0][0]}}>

<ul><label for="orderer">Nalog izdao</label> </ul>
<input name="orderer" type="text" value={{orderer[0][0]}}>

<ul><label>Datum</label></ul>
<input name="datum" type="text" value={{datum[0][0]}}>

<ul><label for="reliser">Nalog realizovao</label> </ul>
<input name="reliser" type="text" value={{reliser[0][0]}}>


{{reliser[0][0]}}


</head>

<body>


</body>

</html> 