<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Termo</title>
  </head>
  <center>
  <body>
	<h1>Termovizija</h1>
	<h2>
	Termovizijsko snimanje predstavlja nekontaktni metod kojim se u deliću sekunde registruje emitovanje toplote, odnosno infracrveno zračenje. Sva tela emituju infracrveno zračenje, pa čak i led.

    Praćenje emitovanja tih zračenja našlo je široku primenu za praćenje različitih pojava u različitim oblastima ljudskog delovanja, kao što su elektronika, mašinstvo, građevinarstvo i arhitektura, ali i u medicini. U građevinarstvu se ovaj metod koristi da bi se identifikovala „loša” mesta, kao i da bi se dala gruba procena gubitka toplote.
	</h2>
	<h3>Standardi</h3>
	<h3>Odabrani snimci</h3>
		<img src={{ url_for('static', filename='termo1.jpg') }}><br>
	<img src={{ url_for('static', filename='termo2.jpg') }}>
	<h3>Zakljuci merenja</h3>
</center>
  </body>
</html>