<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/>   
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ultrazvuk</title>
  </head>
  <center>
  <body>
	<h1>Ultrazvucna defektoskopija</h1>
	<h2>
	Ultrazvučna metoda kontrole kvaliteta zasniva se na svojstvu ultrazvuka da se širi kroz homogene 
materijale i da se odbija na granici materijala različitih akustičkih osobina (otpornosti), odnosno od 
nehomogenosti (grešaka) u materijalu. Od izvora ultrazvuka šire se ultrazvučni talasi kroz materijal 
koji se kontroliše. Ako u materijalu postoji greška, iza nje će, zavisno od vrste greške, ultrazvučni 
talasi oslabiti ili se neće pojaviti (odbiju se od greške) 
Ultrazvuk je vrsta mehaničkih talasa frekvencije od 20 kHz do 10 GHz, a kod ispitivanja materijala 
najčešće se koriste frekvencije od 0,5 MHz do 10 MHz. Iako postoje različite tehnike ultrazvučnog 
ispitivanja, obično se u praksi koristi metoda impuls – odjek , metoda prozvučavanja i metoda 
rezonance, pri čemu se koriste ravne i/ili ugaone ultrazvučne glave
</h2>
<h3>Standardi</h3>
<h3>Izveštaji ultrazvučnih ispitivanja</h3>

  </body>
  </center>
</html>