<!DOCTYPE html>
<html lang="en">
  <head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css')}}"/> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Vibro</title>
  </head>
  <center>
  <body>
	<h1>Vibrodijagnostika</h1>
	<h2>
	Koristi za odredjivanje radnih i mehaničkih uslova eksploatacije opreme. Glavna prednost analize vibaracija je u tome što pomoću nje možemo identifikovati probleme u razvoju pre nego što postanu previše ozbiljni i prouzrokuju neplanirane zastoje. Ovo se može postići redovnim nadzorom vibracija mašine bilo kontinulno bilo na bazi predvidjenih intervala.
	</h2>
	<h3>Standardi</h3>
	<h3>Tipične vibrodijagnostičke slike</h3>
		<img src={{ url_for('static', filename='ukupne_vibracije_brzina.png') }}><br>
	<img src={{ url_for('static', filename='ukupne_vibracije_pomeraj.png') }}>
	<h3>Vibrodijagnostički izveštaji</h3>
</center>
  </body>
</html>